.logo {
    height: 15vh;
    /* width: 5vw; */
    /* margin: 5px; */
}

.cuisines {
    word-break: break-word;
    ;
}

.header {
    /* 
    padding: 10px; */
    display: flex;
    justify-content: space-between;
    border: 5px solid rgba(0, 0, 0, 0.276);
    background-color: rgb(208, 110, 128);
}

.res-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.search-container {
    margin: 10px;
}

.res-card {
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.212);
    width: 200px;
    margin: 5px;

}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer
}

.res-logo {
    width: 100%;
}


.navlist>ul {
    display: flex;
    list-style: none;
    margin: 16px;
}

.navlist>ul>li {
    padding: 10px;
    margin: 10px;
}